<%=  form_for([@post, @post.comments.build]) do |f| %>
<p>
  <%= f.label :author %>
   <%= f.text_field :author %><br>
</p>


<p>
  <%= f.label :content%>
  <%= f.text_area :content %>
</p>
</br>
<p>
  <%= f.submit %>
</p>

<% end %>