<%= form_with(model: post) do |form| %>

<% if @post.present? && @post.errors.any? %>
  <%#= (@post.valid?) && @post.present?) %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <%# end %>
<% end %>
  <div class="field">
    <%= form.label :category%>
    <%= form.collection_select :category_id, Category.all , :id, :name, :include_blank => "-Please select-", :required => true %>
  </div>
    </br>
    </br>
    <%= form.label :author%>
    <%= form.text_field :author, :size => 40, :required => true %>

    </br>
    </br>
    
     <%= form.label :subject%>
      <%= form.text_field :subject, :required => true, :maxlength => 25, :size => 40 %>
    </br>
    </br>
    <%= form.label :content%>
    <%= form.text_area :content,:required => true, :size => 40%>
    
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
